
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}

header {
  padding: 20px 0;
  position: relative;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  float: right;
  justify-content: flex-end;
  font-size: 1.5em;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://w-dog.net/wallpapers/14/14/409330437622484/mood-morning-morning-table-summer-cup-saucer-smartphone-headphones-book-book-book-knowledge-teaching-light-and-ignorance-is-darkness-good-idea-positive-background-blur-bokeh-wallpaper.jpg');
  background-size: cover;
<<<<<<< HEAD
  color: #7c12a7;
  height: 500px;
=======
  color: #ffffff;
  height: auto;
>>>>>>> 9be50126c0dcc4f2e40d50eda179051e71e9b859
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2, h3{
  padding: 0 5em;
}

.jumbotron h2 {
  padding-bottom: 0.5em;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.jumbotron h3 {
  margin: 0 2em 0 2em;
  font-size: 1.25em;
  font-weight: 300;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

#Bethany img {
  max-width:18em;
  height:auto;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
  margin-top: 20px;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.resources {
  font-size: 12px;
  padding: 20px 0;
}

.resources .col-sm-2 {
  display: flex;
  justify-content: flex-end;
}

.resources ul {
  list-style: none;
}

.resources li img {
  width:9em;
  height:13.5em;
}

.article .col-sm-8 {
  float: none;
  margin: 0 auto;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

<<<<<<< HEAD
.navbar{
  background-color: #7c12a7;
  color: white;
  padding-bottom: 1em;
  margin: 0;
}

.navbar-inverse .navbar-brand{
  color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: rgb(156, 103, 156);
}

.navbar p{
  color: white;
  font-size: .6em;
  margin: 0;
  padding: 5px;
}

.navbar-brand {
  font-size: 1.5em;
=======
#faq h3 {
  margin: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  text-align: left;
}

#faq p {
  text-align: justify;
}

#faq .article img {
  width:200px;
  height: auto;
>>>>>>> 9be50126c0dcc4f2e40d50eda179051e71e9b859
}